* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* text-align: center; */
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  /* border: 1px solid black; */
}

img {
  max-width: 10%;
}

audio {
  margin: 1em 0;
  background-color: aquamarine;
}

main {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7da8e5;
  background: -webkit-linear-gradient(top left, #7da8e5, #6a42ab);
  background: -moz-linear-gradient(top left, #7da8e5, #6a42ab);
  background: linear-gradient(to bottom right, #7da8e5, #6a42ab);

  height: 20%;
  /* border: 1px solid black; */
}
/*  -----------------
Typography
----------------- */

h1 {
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  font-size: 4rem;
}

p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.paragraph-footer {
  /* padding: 1em 0; */
  color: rgba(0, 0, 0, 0.65);
}

.playlist-item {
  border-radius: 10px;
  margin: 1em 2em;
  padding: 1em;
  background-color: #f8f8f8;
  box-shadow: 2px 7px 30px 0px rgba(0, 0, 0, 0.25);
}

.site-subtitle {
  font-weight: 500;
}

.playlist-title {
  display: flex;
  padding: 1ex 0;
}

.time {
  font-weight: 500;
  margin-right: 0.5em;
}

.title {
  font-weight: 500;
  margin-right: 0.5em;
}

.subtitle {
  margin: 0.5em 0;
}

.radio-station {
  font-weight: 500;
  margin-top: 0.5em;
}
